* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body {
   font-family: 'Viaoda Libre', cursive;
}
button {
   font-family: 'Poppins', sans-serif;
}

header {
   display: flex;
   width: 90%;
   height: 15vh;
   margin: auto;
}
.logo-container,.nav-links,.cart {
   display: flex;
}
.logo {
   font-weight: 400;
   margin-top: 10px;
}
.logo-container {
   flex: 1;
   
}
nav {
   flex: 3;
}
.nav-links {
   justify-content: space-around;
   list-style: none;
}
.nav-link {
   color: aqua;
   font-size: 18px;
   text-decoration: none;
}
.computer {
   flex: 1;
   justify-content: flex-end;
}
.presentation {
   display: flex;
   width: 80%;
   margin: auto;
   min-height: 80vh;
   align-items: center;
}
.introduction {
   flex: 1;
}
.intro-text h1 {
   font-size: 44px;
   font-weight: 500;
   background: linear-gradient(to right, #494964, #6f6f89);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.intro-text p {
   margin-top: 5px;
   font-size: 22px;
   color: #6f6f89;
}
.cta {
   padding: 50px 0px 0px 0px;
}
.cta-select {
   border: 2px solid #c36cbb;
   background: transparent;
   color: #c36cbb;
   width: 150px;
   height: 50px;
   cursor: pointer;
   font-size: 16px;
}
.cta-add {
   background: #c36cbb;
   width: 150px;
   height: 50px;
   cursor: pointer;
   font-size: 16px;
   border: none;
   color: wheat;
   margin: 30px 0px 0px 30px;
}
.cover {
   flex: 1;
   display: flex;
   justify-content: center;height: 60vh;
}
.cover img{
   height: 100%;
   filter: drop-shadow(0px 5px 3px black)
}
.gallery {
   display: inline-flexbox;
   width: 90%;
   margin: auto;
}
.big-circle {
   position: relative;
   bottom: 0px;
   right: 0px;
   height: 30vh;
   z-index: -1;
   flex: 1;
}
.medium-circle {
   height: 30vh;
   flex: 1;
}
.small-circle {
   height: 30vh;
   flex: 1;
}
.little-circle {
   height: 30vh;
   flex: 1;
}

/*@keyframes drop {
   0% {
      opacity: 0;
      transform: translateY(-80px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}*/
@media screen and (max-width: 1024px) {
   .presentation {
      flex-direction: column;
   }
   .introduction {
      margin-top: 5vh;
      text-align: center;
   }
   .intro-text h1 {
      font-size: 30px;
   }
   .intro-text p {
      font-size: 18px;
   }
   .cta {
      padding: 10px 0px 0px 0px;
   }
   .computer {
      bottom: 5%;
      right: 50%;
      width: 50%;
      transform: translateY(50%, 5%);
   }
   .cover img{
      height: 80%;

   }
}