
/*-- Iphone X gutters remove--*/
html {
   padding: env(safe-area-inset);
}

/*-- Prevent Horizontal Scrolling and font style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text.nuno {
   color: #1EBBA3;
}
/*--- Nav Scrolling Offset--*/
.offset:before {
   content: "" ;
   height: 4rem;
   display: block;
   margin-top: -4rem;
}
/*-- extra Bootstrap Column Padding---*/

[class*"col-"] {
   padding: 1rem;
}


/*--navigation  --*/
.navbar-brand img {
   height: 6rem;
}
.navbar {
   padding: 1rem 3rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;
}
.navbar-nav li {
   padding-right: .8rem;

}
.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #1EBBA3; 
}
.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}
.navbar.solid {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}
/*-- remove button outline--*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn, 
.svg-inline--fa {
   transition: all .6s ease;
}


/*----- ---- Landing Page  ------ -----*/

/*----Fixed landing page Section ----*/  

.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
   top: 0;
   left: 0;
}

.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;

}

.home-inner { 
   background-image: url('../img/chair.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transformation: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}

/*---------------landing Page Caption -------*/

.caption {
   z-index: 1;
   position: absolute;
   top: 38%;
   width: 100%;
   max-width: 100%;
}

.caption h1 {
   font-size: 4.5rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}

/*----Bouncing Down Arrow ---*/
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
   color: white;
   font-size: 2.2rem;
   opacity: .3;
}
.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}

/*----- ---- FEATURES SECTION   ------ -----*/
.btn-sm {
   border-width: medium;
   border-radius: 0;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}
.btn-nuno {
   background-color: #1EBBA3;
   color: white;
}
.btn-nuno:hover {
   background-color: #189582;
   color: white;
}
h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;
}
.heading-underline {
   width: 3rem;
   height: .2rem;
   background-color: #1EBBA3;
   margin: 0 auto 2rem;
}
.features span {
   color: #1EBBA3;
   margin-bottom: .6rem;
}
.features h3 {
   text-transform: uppercase;
   font-size: 1.3rem;
   padding-bottom: .4rem;
}



/*----- ---- FIXED BACKGROUND IMG DARK  ------ -----*/



/*-----  iOS Fixed Background image   -----*/
.fixed {
   position: relative;
   width: 100%;
   display: table;
}

.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -9999;
}
.fixed-dark { 
   background-image: url('../img/foto-ring.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transformation: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.dark {
   background-color: rgba(0, 0, 0, .7);
   padding: 7rem 0;
   z-index: 1000;

}
.fixed span {
   color: #1EBBA3;
   margin-bottom: .6rem;
}


/*----- ---- PORTFOLIO SECTION   ------ -----*/


/*----- ---- PRICING SECTION   ------ -----*/



/*----- ---- Landing Page  ------ -----*/



/*----- ---- Landing Page  ------ -----*/



/*----- ----                       



